{% extends 'apptemplates/main.html'%} 
{% block content %}
<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Popular Drinks</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Drink Name</th>
						</tr>

						{% for i in drinks %}
							<tr>
								<td>
                  <button type="button" class="list-group-item list-group-item-action">{{i.menu_flavor}}</button>
                </td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

  {% endblock %}